
:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --description-color: #353430;
  --title-decor: #FF8DCB;
  --title-color: #FFC2E6;
  --footer-accent: #FF0070;
  --shadow-accent: #FF8DCB;
  --visible-decor: hidden;
  --hover-button: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --description-color: #353430;
    --title-decor: #FF8DCB;
    --title-color: #FFC2E6;
    --footer-accent: #FF0070;
    --shadow-accent: #FF8DCB;
    --visible-decor: hidden;
    --hover-button: #32312D66;
  }
}
